body{
	font-family: 'Cutive Mono', monospace;
	background-color: #ffff;
	color: #5900b3;
	margin:0px;
	padding:0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h1{
	left:0;
	right:0; 
    color: #aec5eb;
}

h2{
	margin: 0px;
	padding: 0px;
	background: #aec5eb;
	float: left;
}


header {
	display:flex;
	justify-content: space-around;
	left:0;
	right:0;
    background-color: #edafb8; 
	padding:0px;
}

li {
    display:inline-block;
    padding: 14px 16px;
}

li:hover {
    color: #f9dec9;
    border-radius: 5px;
}

img{
	float: left;
}


.btn {
	background-color:#ffffff;
	margin: 10px;
	color:#5900b3;
	font-family:'Cutive Mono', monospace;
	font-size:18px;
	padding:16px 31px;
	
	
}
.btn:hover {
	background-color:#edafb8;
	color: #e9afa3;
}

header input{
	background-color:#edafb8;
	width:inherit;
	margin-top: 0px;
	margin-bottom: 10px;
}

label{
	display:block;
	font-size: 20px;
	margin-bottom: 5px;
	white-space: nowrap;

}

.col1{
	width:40%;
	align-items: center;
	display:flex;
	flex-direction: column;
}

.col2{
	width:60%;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

table{
	border-collapse: collapse;
}
td , th{
	border: 0;
}

.boutonrond {
	width:40px;
	height:40px;
	background:#e9afa3;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#000;
}

.container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}