body{
	font-family: 'Cutive Mono', monospace;
	background-color: rgb(255, 255, 255);
	color: #ffffff;
	display : flex;
	flex-direction : column;
	height : 100%;
	width : 100%;
	margin : 0px;
}

.cadre .Objet select{
	max-height: 1.5em;
	overflow : hidden;
	overflow-y: scroll;
}

.cadre{
	display: flex;
	flex-direction: column;
}

.Objet{
	margin-bottom:2%;
}

.cadre .Objet select:hover{
	max-height: 5em;
}

header {
	display:flex;
	justify-content: center;
	width: 100%;
	background-color: #edafb8; 
}

header li {
    display:inline-block;
	padding: 14px 16px;
}

header li:hover {
    color: #edafb8;
	background-color: #edafb8;
	border-radius: 5px;
}

header a { 
	color: inherit;
	text-decoration: none;
}

div{
	padding:0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
}

nav {
	align-items: center;
	background-color:  #edafb8;
	height: 100%;
	min-height: 100%;
}

#OngletCategorie {
	min-width : 100%;
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll ;
	overflow-y:hidden;

}

div nav a {
	text-decoration: none;
	color : #ffffff;
}

div nav a:hover{
	color : #ffffff; 
}


.Corps {
	display : flex;
	flex-direction: row;

}

.Onglet {
	display:flex;
	background-color: #edafb8;
	padding : 10px 70px;
	list-style: none;
	height: 40px;
	width: auto;
	max-width: 150px;
	min-width: 6em;
	overflow: hidden;
	border-right : solid white 3px; 
	flex-wrap: wrap;

}

/*.Onglet:hover{
	height: auto;
}*/

.Onglet div{
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0px;
	margin-top : 40px;
	margin-left : 0px;
	margin-right : 0px;
	overflow: visible;
}


.Objet {
	background-color: #e9afa3;
	background-size: 100%;
	padding-top : 0px;
	padding-bottom: 0px;
	padding-left : 0px;
	padding-right : 0px
	
}


.inscription{
	display:flex;
	justify-content: space-around;
}

.btn {
	background-color:#edafb8;
	margin: 10px;
	color:#ffffff;
	font-family:'Cutive Mono', monospace;
	font-size:18px;
	padding:16px 31px;
}

.btn:hover {
	background-color:#edafb8;
}

input{
	background-color:#edafb8;
	width:inherit;
	margin-top: 0px;
	margin-bottom: 10px;
}

label{
	display:block;
	font-size: 20px;
	margin-bottom: 5px;
	white-space: nowrap;

}












